.project
.settings
*.ipa
*.apk
*.stamp
*.swf
*.tmp
android/.classpath
android/AndroidManifest.xml
android/bin/AndroidManifest.xml
android/bin/jarlist.cache
android/gen
android/proguard-project.txt
android/project.properties
android/res
bin/BoomVideo.ane
bin/BoomVideo.swc
*.xcuserstate
tmp
bin/*.dSYM/Contents/Info.plist
